/* GLOBAL */
*{
    box-sizing: border-box;
    overflow: hidden;
}
body{
    background: #f1f1f1;
    
}
.glass__model img{

    cursor: pointer;
    width: 150px;
}
#glassModel{
    position: absolute;
    top: 22%;
    left: 25%;
    opacity: 0.9;
}